---
http_interactions:
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/FileTests/Testfile?overwrite=true
    body:
      encoding: UTF-8
      string: Bellaire Rose
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '434'
      X-Dropbox-Request-Id:
      - d20d07d8d19631df6cd96a3714c120ad
    body:
      encoding: UTF-8
      string: '{"revision": 223, "bytes": 13, "thumb_exists": false, "rev": "df341cc98e",
        "modified": "Sat, 04 Apr 2015 01:04:52 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:04:52 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:04:54 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '74'
      X-Dropbox-Request-Id:
      - a7fc4cb7d9a9ac97d24a48983e3f9799
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"size": "0 bytes", "hash": "b76e1831c0d164d280f7ffb2af5499de", "rev":
        "a0341cc98e", "thumb_exists": false, "bytes": 0, "modified": "Fri, 03 Apr
        2015 23:53:14 +0000", "path": "/FileTests", "is_dir": true, "icon": "folder",
        "root": "app_folder", "contents": [{"rev": "df341cc98e", "thumb_exists": false,
        "path": "/FileTests/Testfile", "is_dir": false, "client_mtime": "Sat, 04 Apr
        2015 01:04:52 +0000", "icon": "page_white", "bytes": 13, "modified": "Sat,
        04 Apr 2015 01:04:52 +0000", "size": "13 bytes", "root": "app_folder", "mime_type":
        "application/octet-stream", "revision": 223}, {"rev": "a3341cc98e", "thumb_exists":
        false, "path": "/FileTests/Testfile (1)", "is_dir": false, "client_mtime":
        "Sat, 04 Apr 2015 00:21:12 +0000", "icon": "page_white", "bytes": 6291456,
        "modified": "Sat, 04 Apr 2015 00:21:12 +0000", "size": "6 MB", "root": "app_folder",
        "mime_type": "application/octet-stream", "revision": 163}], "revision": 160}'
  recorded_at: Sat, 04 Apr 2015 01:04:54 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests/Testfile?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '63'
      X-Dropbox-Request-Id:
      - 3f1e94035083814df7f642d7051a649a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"revision": 223, "bytes": 13, "thumb_exists": false, "rev": "df341cc98e",
        "modified": "Sat, 04 Apr 2015 01:04:52 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:04:52 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:04:54 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=auto&path=%2FFileTests%2FTestfile
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '242'
      X-Dropbox-Request-Id:
      - abd7ebbc91f35d480f6ac44db2668930
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 224, "bytes": 0, "thumb_exists": false,
        "rev": "e0341cc98e", "modified": "Sat, 04 Apr 2015 01:04:54 +0000", "mime_type":
        "application/octet-stream", "path": "/FileTests/Testfile", "is_dir": false,
        "size": "0 bytes", "root": "app_folder", "client_mtime": "Wed, 31 Dec 1969
        23:59:59 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:04:55 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests/Testfile?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '62'
      X-Dropbox-Request-Id:
      - 9148a2158edeb5df01169b76c2de9f5a
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 224, "bytes": 0, "thumb_exists": false,
        "rev": "e0341cc98e", "modified": "Sat, 04 Apr 2015 01:04:54 +0000", "mime_type":
        "application/octet-stream", "path": "/FileTests/Testfile", "is_dir": false,
        "size": "0 bytes", "root": "app_folder", "client_mtime": "Wed, 31 Dec 1969
        23:59:59 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:04:55 GMT
recorded_with: VCR 2.9.3
