---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests/Testfile?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '71'
      X-Dropbox-Request-Id:
      - 247ee94d27cbe75cc6516eb997cfa350
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"revision": 221, "bytes": 13, "thumb_exists": false, "rev": "dd341cc98e",
        "modified": "Sat, 04 Apr 2015 01:04:40 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:04:40 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:04:41 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/FileTests/Testfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "dd341cc98e", "thumb_exists": false, "path": "/FileTests/Testfile",
        "is_dir": false, "client_mtime": "Sat, 04 Apr 2015 01:04:40 +0000", "icon":
        "page_white", "bytes": 13, "modified": "Sat, 04 Apr 2015 01:04:40 +0000",
        "size": "13 bytes", "root": "app_folder", "mime_type": "application/octet-stream",
        "revision": 221}'
      X-Server-Response-Time:
      - '185'
      Etag:
      - 221n
      X-Dropbox-Request-Id:
      - 8df8b50df13c1057c148e4e4a17fad7f
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation; referrer
        no-referrer;
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation; referrer
        no-referrer;
    body:
      encoding: UTF-8
      string: Bellaire Rose
  recorded_at: Sat, 04 Apr 2015 01:04:41 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/FileTests/Testfile?overwrite=true
    body:
      encoding: UTF-8
      string: Bellaire Rose
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '519'
      X-Dropbox-Request-Id:
      - 8c835bd1defdde66c0fd5023444c0351
    body:
      encoding: UTF-8
      string: '{"revision": 223, "bytes": 13, "thumb_exists": false, "rev": "df341cc98e",
        "modified": "Sat, 04 Apr 2015 01:04:52 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:04:52 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:04:52 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '62'
      X-Dropbox-Request-Id:
      - eb2d175589443fcd999539bc4678fe87
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"size": "0 bytes", "hash": "b76e1831c0d164d280f7ffb2af5499de", "rev":
        "a0341cc98e", "thumb_exists": false, "bytes": 0, "modified": "Fri, 03 Apr
        2015 23:53:14 +0000", "path": "/FileTests", "is_dir": true, "icon": "folder",
        "root": "app_folder", "contents": [{"rev": "df341cc98e", "thumb_exists": false,
        "path": "/FileTests/Testfile", "is_dir": false, "client_mtime": "Sat, 04 Apr
        2015 01:04:52 +0000", "icon": "page_white", "bytes": 13, "modified": "Sat,
        04 Apr 2015 01:04:52 +0000", "size": "13 bytes", "root": "app_folder", "mime_type":
        "application/octet-stream", "revision": 223}, {"rev": "a3341cc98e", "thumb_exists":
        false, "path": "/FileTests/Testfile (1)", "is_dir": false, "client_mtime":
        "Sat, 04 Apr 2015 00:21:12 +0000", "icon": "page_white", "bytes": 6291456,
        "modified": "Sat, 04 Apr 2015 00:21:12 +0000", "size": "6 MB", "root": "app_folder",
        "mime_type": "application/octet-stream", "revision": 163}], "revision": 160}'
  recorded_at: Sat, 04 Apr 2015 01:04:52 GMT
[...]
- request:
    method: get
    uri: https://api.dropbox.com/1/shares/auto/FileTests/Testfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '134'
      X-Dropbox-Request-Id:
      - 6656a4bc741344e5c09f98781ccd8563
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"url": "https://db.tt/dBQN0I0l", "expires": "Tue, 01 Jan 2030 00:00:00
        +0000", "visibility": "PUBLIC"}'
  recorded_at: Sat, 04 Apr 2015 01:04:52 GMT
- request:
    method: get
    uri: https://db.tt/dBQN0I0l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=0
    body:
      encoding: UTF-8
      string: "<html>\r\n  <head><title>Found</title></head>\r\n  <body>\r\n    <h1>Found</h1>\r\n
        \   <p>The resource was found at <a href=\"https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=0\">https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=0</a>;\r\nyou
        should be redirected automatically.\r\n\r\n<!--  --></p>\r\n    <hr noshade>\r\n
        \   <div align=\"right\">WSGI Server</div>\r\n  </body>\r\n</html>\r\n"
  recorded_at: Sat, 04 Apr 2015 01:04:52 GMT
- request:
    method: get
    uri: https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Dropbox-Request-Id:
      - e8cb483c9cfab8debb310bc7206afd23
      X-Dropbox-Http-Protocol:
      - None
      Location:
      - https://dl.dropboxusercontent.com/content_link/TKuSKv898ZiYMbAlxewmgyeaql4hJO87gdnKatThx6mjAm8slIT0aDE18N1XoNWE?dl=1
    body:
      encoding: UTF-8
      string: "<html>\r\n  <head><title>Found</title></head>\r\n  <body>\r\n    <h1>Found</h1>\r\n
        \   <p>The resource was found at <a href=\"https://dl.dropboxusercontent.com/content_link/TKuSKv898ZiYMbAlxewmgyeaql4hJO87gdnKatThx6mjAm8slIT0aDE18N1XoNWE?dl=1\">https://dl.dropboxusercontent.com/content_link/TKuSKv898ZiYMbAlxewmgyeaql4hJO87gdnKatThx6mjAm8slIT0aDE18N1XoNWE?dl=1</a>;\r\nyou
        should be redirected automatically.\r\n\r\n<!--  --></p>\r\n    <hr noshade>\r\n
        \   <div align=\"right\">WSGI Server</div>\r\n  </body>\r\n</html>\r\n"
  recorded_at: Sat, 04 Apr 2015 01:04:53 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/content_link/TKuSKv898ZiYMbAlxewmgyeaql4hJO87gdnKatThx6mjAm8slIT0aDE18N1XoNWE?dl=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="Testfile"; filename*=UTF-8''Testfile
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - 223d
      X-Dropbox-Request-Id:
      - b69b96aa4bf7413dd363d79a7ee6b689
      X-Server-Response-Time:
      - '183'
    body:
      encoding: UTF-8
      string: Bellaire Rose
  recorded_at: Sat, 04 Apr 2015 01:04:53 GMT
recorded_with: VCR 2.9.3
