---
http_interactions:
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=auto&path=%2FSave-then-Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error": "Path ''/save-then-delete'' not found"}'
  recorded_at: Fri, 03 Apr 2015 22:31:58 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/create_folder
    body:
      encoding: US-ASCII
      string: root=auto&path=%2FSave-then-Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '234'
      X-Dropbox-Request-Id:
      - b7d43f2dc25577f32043154b9bed0f36
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"size": "0 bytes", "rev": "2f341cc98e", "thumb_exists": false, "bytes":
        0, "modified": "Fri, 03 Apr 2015 22:31:58 +0000", "path": "/Save-then-Delete",
        "is_dir": true, "icon": "folder", "root": "app_folder", "revision": 47}'
  recorded_at: Fri, 03 Apr 2015 22:31:59 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/Save-then-Delete?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '73'
      X-Dropbox-Request-Id:
      - 6436efb0fea16a8a1294fd5e964d7c03
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"size": "0 bytes", "hash": "d38f2e1bcb53940850b040de0c0d197b", "rev":
        "2f341cc98e", "thumb_exists": false, "bytes": 0, "modified": "Fri, 03 Apr
        2015 22:31:58 +0000", "path": "/Save-then-Delete", "is_dir": true, "icon":
        "folder", "root": "app_folder", "contents": [], "revision": 47}'
  recorded_at: Fri, 03 Apr 2015 22:31:59 GMT
- request:
    method: post
    uri: https://api.dropbox.com/1/fileops/delete
    body:
      encoding: US-ASCII
      string: root=auto&path=%2FSave-then-Delete
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '274'
      X-Dropbox-Request-Id:
      - 3e1b3ff8fbac280bfbabac6f4751bb01
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"is_deleted": true, "revision": 48, "bytes": 0, "thumb_exists": false,
        "rev": "30341cc98e", "modified": "Fri, 03 Apr 2015 22:31:59 +0000", "path":
        "/Save-then-Delete", "is_dir": true, "icon": "folder_gray", "root": "app_folder",
        "size": "0 bytes"}'
  recorded_at: Fri, 03 Apr 2015 22:31:59 GMT
recorded_with: VCR 2.9.3
