---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '71'
      X-Dropbox-Request-Id:
      - 852edc1eb01517d95a2856fc588b3f55
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"size": "0 bytes", "hash": "377a7926af986958fdadc3c93c22f68e", "rev":
        "a0341cc98e", "thumb_exists": false, "bytes": 0, "modified": "Fri, 03 Apr
        2015 23:53:14 +0000", "path": "/FileTests", "is_dir": true, "icon": "folder",
        "root": "app_folder", "contents": [{"rev": "e1341cc98e", "thumb_exists": false,
        "path": "/FileTests/Testfile", "is_dir": false, "client_mtime": "Sat, 04 Apr
        2015 01:12:59 +0000", "icon": "page_white", "bytes": 13, "modified": "Sat,
        04 Apr 2015 01:12:59 +0000", "size": "13 bytes", "root": "app_folder", "mime_type":
        "application/octet-stream", "revision": 225}, {"rev": "a3341cc98e", "thumb_exists":
        false, "path": "/FileTests/Testfile (1)", "is_dir": false, "client_mtime":
        "Sat, 04 Apr 2015 00:21:12 +0000", "icon": "page_white", "bytes": 6291456,
        "modified": "Sat, 04 Apr 2015 00:21:12 +0000", "size": "6 MB", "root": "app_folder",
        "mime_type": "application/octet-stream", "revision": 163}], "revision": 160}'
  recorded_at: Sat, 04 Apr 2015 01:13:01 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests/Testfile?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '112'
      X-Dropbox-Request-Id:
      - c3e6a64d67562e8e6a3525890f17e5c9
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"revision": 225, "bytes": 13, "thumb_exists": false, "rev": "e1341cc98e",
        "modified": "Sat, 04 Apr 2015 01:12:59 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:12:59 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:13:01 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/FileTests/Testfile?overwrite=true
    body:
      encoding: UTF-8
      string: Bellaire Rose
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '427'
      X-Dropbox-Request-Id:
      - 93fd4c8486f04b8fea933c721976a26c
    body:
      encoding: UTF-8
      string: '{"revision": 225, "bytes": 13, "thumb_exists": false, "rev": "e1341cc98e",
        "modified": "Sat, 04 Apr 2015 01:12:59 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:12:59 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:13:02 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/FileTests/Testfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "e1341cc98e", "thumb_exists": false, "path": "/FileTests/Testfile",
        "is_dir": false, "client_mtime": "Sat, 04 Apr 2015 01:12:59 +0000", "icon":
        "page_white", "bytes": 13, "modified": "Sat, 04 Apr 2015 01:12:59 +0000",
        "size": "13 bytes", "root": "app_folder", "mime_type": "application/octet-stream",
        "revision": 225}'
      X-Server-Response-Time:
      - '187'
      Etag:
      - 225n
      X-Dropbox-Request-Id:
      - ebfa12bda4e94ea0c788857f2a0c74ab
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation; referrer
        no-referrer;
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation; referrer
        no-referrer;
    body:
      encoding: UTF-8
      string: Bellaire Rose
  recorded_at: Sat, 04 Apr 2015 01:13:02 GMT
recorded_with: VCR 2.9.3
