---
http_interactions:
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests/Testfile?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '61'
      X-Dropbox-Request-Id:
      - 96d5b6dde84446540e1c3904773a4492
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"revision": 225, "bytes": 13, "thumb_exists": false, "rev": "e1341cc98e",
        "modified": "Sat, 04 Apr 2015 01:12:59 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:12:59 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:13:00 GMT
- request:
    method: get
    uri: https://api-content.dropbox.com/1/files/auto/FileTests/Testfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Dropbox-Metadata:
      - '{"rev": "e1341cc98e", "thumb_exists": false, "path": "/FileTests/Testfile",
        "is_dir": false, "client_mtime": "Sat, 04 Apr 2015 01:12:59 +0000", "icon":
        "page_white", "bytes": 13, "modified": "Sat, 04 Apr 2015 01:12:59 +0000",
        "size": "13 bytes", "root": "app_folder", "mime_type": "application/octet-stream",
        "revision": 225}'
      X-Server-Response-Time:
      - '182'
      Etag:
      - 225n
      X-Dropbox-Request-Id:
      - 773e4b92616248824406539097acdbbf
      X-Content-Security-Policy:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation; referrer
        no-referrer;
      X-Webkit-Csp:
      - sandbox allow-scripts allow-forms allow-popups allow-top-navigation; referrer
        no-referrer;
    body:
      encoding: UTF-8
      string: Bellaire Rose
  recorded_at: Sat, 04 Apr 2015 01:13:00 GMT
- request:
    method: put
    uri: https://api-content.dropbox.com/1/files_put/auto/FileTests/Testfile?overwrite=true
    body:
      encoding: UTF-8
      string: Bellaire Rose
    headers:
      Content-Type:
      - application/octet-stream
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '617'
      X-Dropbox-Request-Id:
      - 46d625fc430f6e3f3cfcf73bdd112f0b
    body:
      encoding: UTF-8
      string: '{"revision": 227, "bytes": 13, "thumb_exists": false, "rev": "e3341cc98e",
        "modified": "Sat, 04 Apr 2015 01:13:11 +0000", "mime_type": "application/octet-stream",
        "path": "/FileTests/Testfile", "is_dir": false, "size": "13 bytes", "root":
        "app_folder", "client_mtime": "Sat, 04 Apr 2015 01:13:11 +0000", "icon": "page_white"}'
  recorded_at: Sat, 04 Apr 2015 01:13:12 GMT
- request:
    method: get
    uri: https://api.dropbox.com/1/metadata/auto/FileTests?file_limit=25000&include_deleted=false&list=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '72'
      X-Dropbox-Request-Id:
      - a57e48b717c9b28856f734b4708cdf8d
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"size": "0 bytes", "hash": "8cf3ea26d25be69a01f6dc19bdf50700", "rev":
        "a0341cc98e", "thumb_exists": false, "bytes": 0, "modified": "Fri, 03 Apr
        2015 23:53:14 +0000", "path": "/FileTests", "is_dir": true, "icon": "folder",
        "root": "app_folder", "contents": [{"rev": "e3341cc98e", "thumb_exists": false,
        "path": "/FileTests/Testfile", "is_dir": false, "client_mtime": "Sat, 04 Apr
        2015 01:13:11 +0000", "icon": "page_white", "bytes": 13, "modified": "Sat,
        04 Apr 2015 01:13:11 +0000", "size": "13 bytes", "root": "app_folder", "mime_type":
        "application/octet-stream", "revision": 227}, {"rev": "a3341cc98e", "thumb_exists":
        false, "path": "/FileTests/Testfile (1)", "is_dir": false, "client_mtime":
        "Sat, 04 Apr 2015 00:21:12 +0000", "icon": "page_white", "bytes": 6291456,
        "modified": "Sat, 04 Apr 2015 00:21:12 +0000", "size": "6 MB", "root": "app_folder",
        "mime_type": "application/octet-stream", "revision": 163}], "revision": 160}'
  recorded_at: Sat, 04 Apr 2015 01:13:12 GMT
[...]
- request:
    method: get
    uri: https://api.dropbox.com/1/shares/auto/FileTests/Testfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <DROPBOX_OAUTH2_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      X-Server-Response-Time:
      - '144'
      X-Dropbox-Request-Id:
      - 6c9274b0acf8faaeab6c34409ca476c9
      X-Dropbox-Http-Protocol:
      - None
    body:
      encoding: UTF-8
      string: '{"url": "https://db.tt/dBQN0I0l", "expires": "Tue, 01 Jan 2030 00:00:00
        +0000", "visibility": "PUBLIC"}'
  recorded_at: Sat, 04 Apr 2015 01:13:12 GMT
- request:
    method: get
    uri: https://db.tt/dBQN0I0l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=0
    body:
      encoding: UTF-8
      string: "<html>\r\n  <head><title>Found</title></head>\r\n  <body>\r\n    <h1>Found</h1>\r\n
        \   <p>The resource was found at <a href=\"https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=0\">https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=0</a>;\r\nyou
        should be redirected automatically.\r\n\r\n<!--  --></p>\r\n    <hr noshade>\r\n
        \   <div align=\"right\">WSGI Server</div>\r\n  </body>\r\n</html>\r\n"
  recorded_at: Sat, 04 Apr 2015 01:13:12 GMT
- request:
    method: get
    uri: https://www.dropbox.com/s/o5xfb8ugn14436e/Testfile?dl=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: FOUND
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Dropbox-Request-Id:
      - 23245bcb0cbdd906cc01045eae0540e2
      X-Dropbox-Http-Protocol:
      - None
      Location:
      - https://dl.dropboxusercontent.com/content_link/VoIKH97a8FThWqmNRWcXyQh7o94LLYFr6b8W2TdXfXqYsNKFZ7rSwTNMLHx2wDgb?dl=1
    body:
      encoding: UTF-8
      string: "<html>\r\n  <head><title>Found</title></head>\r\n  <body>\r\n    <h1>Found</h1>\r\n
        \   <p>The resource was found at <a href=\"https://dl.dropboxusercontent.com/content_link/VoIKH97a8FThWqmNRWcXyQh7o94LLYFr6b8W2TdXfXqYsNKFZ7rSwTNMLHx2wDgb?dl=1\">https://dl.dropboxusercontent.com/content_link/VoIKH97a8FThWqmNRWcXyQh7o94LLYFr6b8W2TdXfXqYsNKFZ7rSwTNMLHx2wDgb?dl=1</a>;\r\nyou
        should be redirected automatically.\r\n\r\n<!--  --></p>\r\n    <hr noshade>\r\n
        \   <div align=\"right\">WSGI Server</div>\r\n  </body>\r\n</html>\r\n"
  recorded_at: Sat, 04 Apr 2015 01:13:13 GMT
- request:
    method: get
    uri: https://dl.dropboxusercontent.com/content_link/VoIKH97a8FThWqmNRWcXyQh7o94LLYFr6b8W2TdXfXqYsNKFZ7rSwTNMLHx2wDgb?dl=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename="Testfile"; filename*=UTF-8''Testfile
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - 227d
      X-Dropbox-Request-Id:
      - 5c95ea557b2580e58af6dbde28b7d35b
      X-Server-Response-Time:
      - '198'
    body:
      encoding: UTF-8
      string: Bellaire Rose
  recorded_at: Sat, 04 Apr 2015 01:13:13 GMT
recorded_with: VCR 2.9.3
